@{
    ViewBag.Title = "Power Bi Embed";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div id="reportContainer" style="width: 1500px; height: 2400px;"></div>

@section scripts{
    <script>
        
    </script>
}

